.cart {
  width: 100%;
  padding: 10px;
  .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #07325d;
    padding: 20px 5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 3px #b7bcc5;
    background: linear-gradient(0deg, #f3f1f1, #ffffff 90%, #f5f5f5);
    .container {
      display: flex;
      .messageBlockLeft {
        width: 300px;
        height: 500px;
      }
      .messageBlockRight {
        width: 500px;
        height: 500px;
      }

      .buttonsTool {
        width: 100%;
        display: flex;
      }
    }
  }
}
